<div class="col-md-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title">Real time Post Quiz</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form action="" role="form" id="post_quiz">
                  <div class="box-body">
                  <div class="form-group">
                        <label>Quiz Name</label>
                        <input type="text" id="quiz_name" class="form-control" placeholder="Quiz Name ..." required>
                      </div>
                      <div id="que_Area">
                    <div id="que1_div">
                      <div class="form-group">
                        <label>Enter Question</label>
                        <input type="text" id="que1" class="form-control" placeholder="Question ..." required>
                      </div>
                      <div class="form-group">
                        <label>Enter Answer Options</label>
                        <input type="text" id="que1_options" class="form-control" placeholder="Options ..." required>
                      </div>
                      <div class="form-group">
                        <label>Enter Correct Answer</label>
                        <input type="text" id="que1_ans" class="form-control" placeholder="Answer ..." required>
                      </div>
                    </div><br/><br/>
                    </div>
                  </div><!-- /.box-body -->

                  <div class="box-footer">
                    <button id="add_que" class="btn btn-info">Add another Question</button>
                    <button id="remove_que" class="btn btn-danger">Remove Last Question
                    </button>
                  </div>
                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit Quiz</button>
                  </div>
                </form>
              </div><!-- /.box -->

              <!-- Input addon -->
              

            </div>